*~
nginx*/
x86_64/
.*.log
*swp
*.rpm
results_nginx
/nginx-*.tar.gz
/nginx-*.tar.gz.asc
/array-var-nginx-module-*.tar.gz
/echo-nginx-module-*.tar.gz
/headers-more-nginx-module-*.tar.gz
/incubator-pagespeed-*.tar.gz
/lua-nginx-module-*.tar.gz
/lua-upstream-cache-nginx-module-*.tar.gz
/lua-upstream-nginx-module-*.tar.gz
/nginx-clojure-*.tar.gz
/nginx-goodies-nginx-sticky-module-ng-*.tar.gz
/nginx-http-rdns-*.tar.gz
/nginx-module-vts-*.tar.gz
/nginx-rtmp-module-*.tar.gz
/nginx-sorted-querystring-module-*.tar.gz
/nginx-upload-module-*.tar.gz
/nginx-upload-progress-module-*.tar.gz
/nginx-x-rid-header-*.tar.gz
/nginx_upstream_check_module-*.tar.gz
/ngx_cache_purge-*.tar.gz
/ngx_devel_kit-*.tar.gz
/ngx_http_dyups_module-*.tar.gz
/ngx_http_redis-*.tar.gz
/ngx_pagespeed-*.tar.gz
/psol-*.tar.gz
/njs-*.tar.gz
/openssl-*.tar.gz
/redis-nginx-module-*.tar.gz
/redis2-nginx-module-*.tar.gz
/replace-filter-nginx-module-*.tar.gz
/srcache-nginx-module-*.tar.gz
/nginx-clojure-*.jar
/nginx-jersey-*.jar
/nginx-tomcat8-*.jar
